{% extends 'mailings/base.html' %}

{% block content %}
{% if perms.users.view_user %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h4>Пользователи</h4>
            </div>
            <div class="card-body">
                {% for object in object_list %}
                {% if not object.is_superuser and request.user != object %}
                <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 10px;">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                    <a href="{% url 'users:user_update' object.pk  %}" type="button"
                       class="btn btn-danger">Изменить активность</a>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
            </div>

            <div class="card-footer"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}